@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 440;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 440px) / #{$maxWidth}));

  @media (min-width: calc(#{$maxWidth + px} + 440px)) {
    font-size: $pcSize + px;
  }
	@media (max-width: #{$minWidth + px}) {
    font-size: $mobSize + px;
  }
}
@mixin adaptiv-mp($pcSize, $mobSize, $value) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 440;
  #{$value}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 440px) / #{$maxWidth}));

  @media (min-width: #{$maxWidth + 440px}) {
    #{$value}: #{$pcSize + px};
  }
	@media (max-width: #{$minWidth + px}) {
    #{$value}: #{$mobSize + px};
  }
}
// Для начала c определённой МАКСИМАЛЬНОЙ ширинs экрана в меньшую сторону
@mixin adaptiv-mpMAX($pcSize, $mobSize, $value, $maxW) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxW;
  #{$value}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 440px) / (#{$maxW} - 440)));

  @media (min-width: #{$maxW + px}) {
    #{$value}: #{$pcSize + px};
  }
}
// Для остановки на определённой МИНИМАЛЬНОЙ ширине экрана
@mixin adaptiv-mpMIN($pcSize, $mobSize, $value, $minW) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 440;
  #{$value}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$minW + px}) / (#{$maxWidth} - #{$minW} + 440)));

  @media (min-width: #{$maxWidth + 440px}) {
    #{$value}: #{$pcSize + px};
  }
  @media (max-width: #{$minWidth + px}) {
    #{$value}: #{$mobSize + px};
  }
}