$fontFamily: Gilroy, sans-serif;
$fontSize: 20px;
$mainColor: #131926;
$secondColor: #B7B8BC;
$thirdColor: #F0F0F0;
$fourColor: #DF2528;
$fourColorHover: #C12023;
$bodyColor: #FAFAFA;

$maxWidth: 1160;
$minWidth: 440;
$bigMaxWidth: 1320;
// $maxWidthContainer: 1920px;
$containerPadding: 60;